/* Styling for the header section */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    padding: 5px 120px 60px 120px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-main-text {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.white-secondary-text {
    color: #E5E7EB;
    font-weight: 300;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links li {
    list-style: none;
    font-size: 18px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0;
}

.left-header-content {
    flex: 1;
}

.left-header-content p {
    margin: 0;
    padding: 0 30px 10px 0;
}

.header-img {
   width: 400px;
   height: auto;
   flex: 1;
}

/* Styling for the buttons on the page */ 

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
}

.white-border-btn {
    border: #E5E7EB 2px solid;
}

/* Styling for the info section */

.info-section {
    text-align: center;
    padding: 40px 0;
}
.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
    padding-bottom: 40px;
}

.icons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img-and-desc {
    width: 170px;
}

.icons-section img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
}

.icons-section p {
    font-size: 18px;
    font-weight: 300;
}

/* Styling for the quote section */

.quote-section {
    background-color: #E5E7EB;
    padding: 50px 170px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    margin: 10px 0;
}

.quote-by {
    font-weight: 700;
    text-align: right;
    margin: 0;
}

/* Styling for the call to action and footer */
.action-container {
    padding: 60px 120px;
}

.action-call {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 40px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-call p {
    margin: 0;
}

.action-text {
    font-size: 20px;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-weight: 300;
}